@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wild-west-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  opacity: 0.05; /* Very subtle effect, adjust as necessary */
}

.wild-west-icon {
  font-size: 30px; /* Adjust size as needed */
  margin: 20px;
  color: #e0e0e0; /* A light grey or color that fits your theme for subtlety */
}